
.menuvisible{
    display:none;
}

@media only screen and (min-width: 640px) {
    /*Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/
    .bgpic {
        background-image: url(./img/mobail-768/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/mobail-768/splash3.jpg);
    }
    .page4bg {
        background-image: url(./img/mobail-768/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/mobail-768/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/mobail-768/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/mobail-768/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/mobail-768/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/mobail-768/left.jpg);
    }
    .bg2 {
        background-image: url(./img/mobail-768/center.jpg);
    }
    .bg3 {
        background-image: url(./img/mobail-768/right.jpg);
    }
    /*МЕНЮ*/

    /*СЛАЙД 2*/

    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/

}

@media only screen and (min-width: 1000px) {

    /*Планшеты в режиме portrait.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/board-1280/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/board-1280/splash3.jpg);
    }
    .page4bg {
        background-image: url(./img/board-1280/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/board-1280/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/board-1280/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/board-1280/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/board-1280/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/board-1280/left.jpg);
    }
    .bg2 {
        background-image: url(./img/board-1280/center.jpg);
    }
    .bg3 {
        background-image: url(./img/board-1280/right.jpg);
    }

    /*МЕНЮ*/
    .menuvisible{
        display: block;
    }
    /*СЛАЙД 2*/

    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/
}

@media only screen and (min-width: 1300px) {

    /*Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/notebook-1680/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/notebook-1680/splash3.jpg);
    }
    .page4bg {
        background-image: url(./img/notebook-1680/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/notebook-1680/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/notebook-1680/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/notebook-1680/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/notebook-1680/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/notebook-1680/left.jpg);
    }
    .bg2 {
        background-image: url(./img/notebook-1680/center.jpg);
    }
    .bg3 {
        background-image: url(./img/notebook-1680/right.jpg);
    }

    /*МЕНЮ*/
    .menuvisible{
        display: block;
    }
    /*СЛАЙД 2*/

    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/
}

@media only screen and (min-width: 1900px) {

    /*Десктоп с большими разрешениями, телевизоры.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/tv-2048/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/tv-2048/splash3.jpg);
    }
    .page4bg {
        background-image: url(./img/tv-2048/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/tv-2048/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/tv-2048/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/tv-2048/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/tv-2048/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/tv-2048/left.jpg);
    }
    .bg2 {
        background-image: url(./img/tv-2048/center.jpg);
    }
    .bg3 {
        background-image: url(./img/tv-2048/right.jpg);
    }
    /*МЕНЮ*/
    .menuvisible{
        display: block;
    }
    /*СЛАЙД 2*/

    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/
}


