/*------------------------------------------------MEDIA-CSS.CSS--------------------------------------------------------*/
.menu2visible{
    display:none;
}
.menu1visible{
    display:block;
}
.sc2{display:none;}

@media only screen and (min-width: 640px) {
    /*Здесь стили более разумных, но все еще мобильных устройств. Android, iPhone  и так далее.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/
    .bgpic {
        background-image: url(./img/mobail-768/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/mobail-768/splash3.jpg);
    }
    .page4bg {
        background-image: url(./img/mobail-768/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/mobail-768/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/mobail-768/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/mobail-768/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/mobail-768/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/mobail-768/left.jpg);
    }
    .bg2 {
        background-image: url(./img/mobail-768/center.jpg);
    }
    .bg3 {
        background-image: url(./img/mobail-768/right.jpg);
    }
    /*МЕНЮ*/

    /*СЛАЙД 2*/

    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/


    /*СКРОЛ*/
    .sc2{display:none;}

}

@media only screen and (min-width: 1000px) {

    /*Планшеты в режиме portrait.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/board-1280/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/board-1280/splash3.jpg);
        background-position:center bottom ;
    }
    .page4bg {
        background-image: url(./img/board-1280/splash2.jpg);
        background-position:center bottom ;
    }
    .page5bg {
        background-image: url(./img/board-1280/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/board-1280/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/board-1280/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/board-1280/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/board-1280/left.jpg);
    }
    .bg2 {
        background-image: url(./img/board-1280/center.jpg);
    }
    .bg3 {
        background-image: url(./img/board-1280/right.jpg);
    }

    /*МЕНЮ*/
    .menu1visible{
        display: none;
    }
    .menu2visible{
        display:block;
    }
    /*СЛАЙД 2*/
    .c1{
        width: 33%;
        height: 100vh;

    }
    .c2{
        width: 34%;
        height: 100vh;

    }
    .c3{
        width: 33%;
        height: 100vh;

    }
    .slidercontent{
        margin-top: 35vh;
    }

    .icon1{
        width: 100%;
        margin-left: 0;
    }
    .slidercontentup {
        margin-top: 20%;
    }
    .icon1up{
        opacity: 1;
    }
    .icon1disappear {
        display: block;
    }
    /*СЛАЙД 3*/
    .lefthalf {
        width: 60%;
    }
    /*СЛАЙД 4*/
    .infogr{opacity: 0}
    .sdviginfo{margin-left:0}
    .widthtitle1{
        width: 60%;
    }
    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/
    .titlepage1{
        margin-top: 15%;
        top: 40%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;


    }
    .title2{
        font-size:0.5em;
    }
    .textsl2{
         font-size: 0.4em;
         margin-top:12%;
        margin-left: 25%;
        width: 50%;


     }
    .title{
        opacity: 0;
    }

    .text{
        text-align: justify ;
        font-size: 1em;
        opacity: 0;
    }

    .appear {
        opacity: 1;
        transition: 2s;
    }

    .widthtitle{
        margin-top: 0;
        width: 60%;
    }
    /*КНОПКИ*/
    .btnpage1{
        margin-left: 39%;
        margin-right: 39%;
        font-weight: 100;
        font-size: 20%;
        border: solid #fff 1px;
        width: 24%;
        margin-top: 5%;

    }
    .topleft{
         margin-top: 33%;
     }
    .btn2 {
        font-weight: 300;
        font-size: 35%;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        border: solid #FFf 1px;

    }
    .btn {
        width: 30%;
        opacity: 0;
    }
    .topcenter{margin-top: 12%;}
    /*СКРОЛ*/

    .sc2{
        top:85%;
        display: block;
    }
    .sc3{
        opacity: 0;
        left:80%;
    }
}

@media only screen and (min-width: 1300px) {

    /*Планшеты в режиме landscape, нетбуки, ноутбуки, десктоп.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/notebook-1680/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/notebook-1680/splash3.jpg);

    }
    .page4bg {
        background-image: url(./img/notebook-1680/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/notebook-1680/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/notebook-1680/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/notebook-1680/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/notebook-1680/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/notebook-1680/left.jpg);
    }
    .bg2 {
        background-image: url(./img/notebook-1680/center.jpg);
    }
    .bg3 {
        background-image: url(./img/notebook-1680/right.jpg);
    }

    /*МЕНЮ*/

    /*СЛАЙД 2*/

    /*СЛАЙД 3*/


    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/

}

@media only screen and (min-width: 1900px) {

    /*Десктоп с большими разрешениями, телевизоры.*/

    /*ФОНОВЫЕ ИЗОБРАЖЕНИЯ*/

    .bgpic {
        background-image: url(./img/tv-2048/shelby.jpg);
    }
    .page3bg {
        background-image: url(./img/tv-2048/splash3.jpg);

    }
    .page4bg {
        background-image: url(./img/tv-2048/splash2.jpg);
    }
    .page5bg {
        background-image: url(./img/tv-2048/colorsplash.jpg);
    }
    .page6bg {
        background-image: url(./img/tv-2048/bumbum2.jpg);
    }
    .page7bg {
        background-image: url(./img/tv-2048/drops.jpg);
    }
    .page8bg {
        background-image: url(./img/tv-2048/splash4.jpg);
    }
    .bg1 {
        background-image: url(./img/tv-2048/left.jpg);
    }
    .bg2 {
        background-image: url(./img/tv-2048/center.jpg);
    }
    .bg3 {
        background-image: url(./img/tv-2048/right.jpg);
    }
    /*МЕНЮ*/

    /*СЛАЙД 2*/

    /*СЛАЙД 3*/


    /*СЛАЙД 4*/

    /*ГАЛЕРЕЯ*/

    /*ПРАЙС*/

    /*КАРТА*/

    /*СЛАЙД 10*/

    /*ТЕКСТ*/

    /*КНОПКИ*/

    /*СКРОЛ*/


}


